main {
    display: flex;
    gap: 20px;
    font-family: Arial;
}

main div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

#list {
    background-color: grey;
}

#details {
    background-color: black;
    color: white;
}